
.metadata/.lock

.metadata/.log

*.bash

*.name

*.container

.settings/.jsdtscope

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

*.index

.project

.metadata/version.ini

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

*.xml

*.properties

*.dat

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

*.xmi

*.prefs

*.resources
